
#
**/application-secret.yml
.apt_generated
bin/
build/
.classpath
/dist/
/docs/.docusaurus/
/docs/node_modules/
/docs-src/.docusaurus/
/docs-src/node_modules/
.DS_Store
### Eclipse ###
.factorypath
.gradle
!gradle/wrapper/gradle-wrapper.jar
.idea
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
*.iml
### IntelliJ IDEA ###
*.ipr
*.iws
.kotlin
### Mac OS ###
mesh_output.log
/nbbuild/
/nbdist/
/.nb-gradle/
/nbproject/private/
### NetBeans ###
out/
.project
### Secrets ###
.settings
# SPDX-FileCopyrightText: 2025
# SPDX-License-Identifier: CC0-1.0
.springBeans
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
.sts4-cache
.vscode/
### VS Code ###
*.xml
